<div
  style="padding: 20px;"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayout.xs="column"
  fxLayoutAlign.xs="center stretch"
>
  <div style="text-align: center">
    <h2>Business or Personal Web Development</h2>
    <h5>
      Do you have a business or blog that you want to promote? Get in contact
      with new and existing customers via a fully customizable website. Create
      it how you want and what suits your business needs. No cookie cutter, one
      size fits all website builder will allow the freedom and flexibility to
      reach your customers in the best way possible.
    </h5>
  </div>
  <div style="text-align: center">
    <img src="./assets/coder.png" alt="coder" class="about-me" />
  </div>
  <div style="text-align: center">
    <h2>Bring Your Business or Idea to Life</h2>
    <h5>
      Have an idea for a new business or venture? From software, to apps, to
      simple websites, we can bring your idea into a reality. Don't let
      technology stop you from creating the next big thing, we can help you get
      your idea off the ground and stay as long as we are needed. Take a leap
      and create something amazing!
    </h5>
  </div>
</div>
