<div class="grid-container">
  <div class="grid-item">
    <h2>Business or Personal Web Development</h2>
    <h5>
      Web Development. Web development refers to building, creating, and an
      maintaining websites. It includes aspects such as web design, web
      publishing, web programming, and database management. ... A web developer
      may be involved in designing a website, but may also write web scripts in
      languages such as PHP and ASP.
    </h5>
  </div>
  <div class="grid-item">
    <img src="./assets/coder.png" alt="coder" class="about-me" />
  </div>
  <div class="grid-item">
    <h2>Bring Your Business or Idea to Life</h2>
    <h5>
      Web Development. Web development refers to building, creating, and an
      maintaining websites. It includes aspects such as web design, web
      publishing, web programming, and database management. ... A web developer
      may be involved in designing a website, but may also write web scripts in
      languages such as PHP and ASP.
    </h5>
  </div>
</div>
