<div
  style="padding: 20px;"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayout.xs="column"
  fxLayoutAlign.xs="center stretch"
>
  <div style="text-align: center">
    <h2>Business or Personal Web Development</h2>
    <h5>
      Web Development. Web development refers to building, creating, and an
      maintaining websites. It includes aspects such as web design, web
      publishing, web programming, and database management. ... A web developer
      may be involved in designing a website, but may also write web scripts in
      languages such as PHP and ASP.
    </h5>
  </div>
  <div style="text-align: center">
    <img src="./assets/coder.png" alt="coder" class="about-me" />
  </div>
  <div style="text-align: center">
    <h2>Bring Your Business or Idea to Life</h2>
    <h5>
      Web Development. Web development refers to building, creating, and an
      maintaining websites. It includes aspects such as web design, web
      publishing, web programming, and database management. ... A web developer
      may be involved in designing a website, but may also write web scripts in
      languages such as PHP and ASP.
    </h5>
  </div>
</div>
