<h2>Example Web Development Projects</h2>

<div
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayout.xs="column"
  fxLayoutAlign.xs="center stretch"
>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="tn-example-header-image"></div>
      <mat-card-title>Telenotes CRM</mat-card-title>
      <mat-card-subtitle>Enterprise Application</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="/assets/Screen Shot 2020-04-01 at 11.04.30 PM.png"
      alt="Telenotes"
    />
    <mat-card-content>
      <p>
        An enterprise level production application. A CRM solution that
        simplifies communication, makes up for lost time, and boosts business’
        revenue.
      </p>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions style="text-align: center">
        <a mat-raised-button href="https://github.com/mitchellglazier/"
          >Github</a
        >
        <a mat-raised-button href="https://telenotes.com/">Website</a>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="gm-example-header-image"></div>
      <mat-card-title>Grudge Match</mat-card-title>
      <mat-card-subtitle>Business Application</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="/assets/Screen Shot 2020-04-01 at 11.03.09 PM.png"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        A small business level production application. Pay to play online gaming
        matches, a place for professional and novice gamers to make money doing
        what they love to do.
      </p>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions style="text-align: center">
        <a mat-raised-button href="https://github.com/mitchellglazier/"
          >Github</a
        >
        <a mat-raised-button href="https://grudgematch.gg/">Website</a>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="dragon-example-header-image"></div>
      <mat-card-title>New Golden Dragon</mat-card-title>
      <mat-card-subtitle>Small Business Website</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="/assets/Screen Shot 2020-04-01 at 11.05.26 PM.png"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        Beta release of an online order system for a restaurant in Salt Lake
        City Utah, with admin access to change menu items and receive orders.
      </p>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions style="text-align: center">
        <a mat-raised-button href="https://github.com/mitchellglazier/"
          >Github</a
        >
        <a mat-raised-button href="https://new-winter-dragon.herokuapp.com/"
          >Website</a
        >
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
