<h2>Contact Glazier Business Development</h2>

<form [formGroup]="contactForm" style="text-align: center">
  <mat-form-field class="input">
    <input
      matInput
      type="text"
      name="name"
      placeholder="Subject"
      formControlName="name"
    />
  </mat-form-field>
  <br />
  <mat-form-field class="input">
    <input
      matInput
      type="email"
      name="email"
      placeholder="Email Address"
      formControlName="email"
    />
  </mat-form-field>
  <br />
  <mat-form-field class="input">
    <textarea
      matInput
      name="message"
      placeholder="Message"
      formControlName="message"
    ></textarea>
  </mat-form-field>
</form>
<div style="text-align: center">
  <button mat-raised-button color="accent" (click)="onSubmit()">
    Send
  </button>
</div>
