<h2 style="text-align: center">Admin</h2>

<div *ngIf="!(authService?.userData | async)">
  <input type="text" [(ngModel)]="email" placeholder="email" />
  <input type="password" [(ngModel)]="password" placeholder="password" />

  <!-- <button (click)="signUp()">Sign Up</button> -->

  <button (click)="signIn()">Login</button>
</div>

<button (click)="signOut()" *ngIf="authService?.userData | async">
  Logout
</button>

<mat-card style="margin: 10px;" *ngIf="authService?.userData | async">
  <table class="table table-hover" style="width: 100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="text-align: center">
      <tr *ngFor="let comment of comments">
        <td>{{ comment.name }}</td>
        <td>{{ comment.email }}</td>
        <td>{{ comment.message }}</td>
        <td>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteComment(comment._id)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>
