<h2 style="text-align: center">Admin</h2>

<button mat-raised-button color="accent" (click)="signOut()">
  Logout
</button>

<mat-card style="margin: 10px;">
  <table class="table table-hover" style="width: 100%">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Email</th>
        <th>Message</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody style="text-align: center">
      <tr *ngFor="let comment of comments">
        <td>{{ comment.name }}</td>
        <td>{{ comment.email }}</td>
        <td>{{ comment.message }}</td>
        <td>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteComment(comment._id)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
        <td>
          <a [routerLink]="['/comment/', comment._id]">
            <button
              mat-raised-button
              color="primary"
              class="btn btn-outline-warning"
            >
              View Message
            </button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>
