<h2 style="text-align: center">Admin</h2>
<mat-card style="margin: 10px;">
  <table class="table table-hover" style="width: 100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments">
        <td>{{ comment.name }}</td>
        <td>{{ comment.email }}</td>
        <td>{{ comment.message }}</td>
        <td>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteComment(comment._id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>
