// .bg {
//   height: calc(60vh - 57px);
//   width: 100%;
//   opacity: 85%;
// }

.background-image-logo {
  font-family: "Permanent Marker", cursive;
  font-size: 100px;
  text-align: center;
  margin: 25px;
  padding: 25px;
}
