.bg {
  height: calc(65vh - 57px);
  width: 100%;
  opacity: 85%;
}

.background-image-logo {
  font-family: "Permanent Marker", cursive;
  font-size: 75px;
  position: absolute;
  top: 13%;
  left: 22.5%;
}
